@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
}
body{
  overflow-x: hidden;
  height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
/* sidenav */
section{
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #4899f0;
  color: #ffffff;
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
@media screen and (max-width: 768px) {
  section{
    width: 200px;
  }
}
section.hide{
  width: 60px;
}
section .logo{
  padding: 20px 0px;
  font-size: 24px;
  font-weight: 400;
  height: 56px;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}
section .logo i{
  font-size: 35px;
  min-width: 60px;
  display: flex;
  justify-content: center;
}
section ul{
  width: 100%;
  margin-top: 2.5rem;
}
section li{
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
  margin-top: 8px;
}
section li a{
  display: flex;
  gap: 1rem;
}
section ul a:hover{
  background: #ffffff;
  color: #4899f0;
  font-weight: 500;
  padding: 0.6rem;
  width: 120%;
  border-radius: 18px;
}
section li a .bx{
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* content */
aside{
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
.shift{
  left: 70px;
}
@media screen and (max-width: 768px) {
aside {
  width: calc(100% - 60px);
  left: 200px;
}
}
aside nav{
  background-color: #ffffff;
  height: 83px;
  padding: 0 24px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;

}
aside nav i {
  cursor: pointer;
  color: #4899f0;
  font-size: 35px;
  font-weight: 800;
}
aside .user{
  font-size: 22px;
}
main{
  position: relative;
  width: 100%;
  padding: 36px 10px;
}
main .card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  place-items: center center;
  padding: 25px;
}
@media screen and (max-width: 768px) {
   main .card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 10px;
  }
}
.card-container .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .card-container .card{
    width: 60%;
  }
}
.card-container .card i{
  color: #4899f0;
  font-size: 30px;
  margin-bottom: 12px;
}
.card h3:first-of-type{
  font-size: 18px;
  margin-bottom: 8px;
}
.card:last-of-type{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
}
.card:last-of-type button{
  color: #fff;
  padding: 17px 15px;
  border-radius: 10px;
  background-color: #4899f0;
  font-size: inherit;
  outline: none;
  border: none;
  transition: all 0.1s ease-in;
}
.card:last-of-type button:hover{
  cursor: pointer;
  outline: 5px solid #4899f0;
}
.table {
  overflow: scroll;
  width: 100%;
}
table {
  margin-top: 3rem;
  width: 100%;
  border-collapse: collapse;
  padding: 2rem;
  border: 1;
  text-align: center;
}

 table tr th,
table tr td {
  border: 1px solid #000;
  padding: 12px 7px;
}

table th {
  background: #4899f0;
  color: #ffffff;
}
